<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815176471819-j4jd45im95005qep9is59fpo5qhrp0f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815176471819-j4jd45im95005qep9is59fpo5qhrp0f2</string>
	<key>API_KEY</key>
	<string>AIzaSyBHx2R02tJWRsE5ng89b4km8qB_ZMc6mno</string>
	<key>GCM_SENDER_ID</key>
	<string>815176471819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab12</string>
	<key>PROJECT_ID</key>
	<string>lab12-it</string>
	<key>STORAGE_BUCKET</key>
	<string>lab12-it.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815176471819:ios:c3b1772981cf7d13c6fe0e</string>
</dict>
</plist>